@{
    ViewData["Title"] = "Home Page";
}

<div>

    <a asp-controller = "Home" asp-action = "SignUp">Sign Up</a>
    <a asp-controller = "Home" asp-action = "SignIn">Sign In</a>
    <a asp-controller = "Order" asp-action = "PlaceOrder">Place Order</a>
    <a asp-controller = "Order" asp-action = "AllOrders">Get All Order Details</a>
</div>