@{
    ViewData["Title"] = "Thanks for Order";
    int c = 1;
}

<div>
    <h1>Orders Record is: </h1>
    <table border = 1>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
        @foreach(var i in ViewBag.Orders)
        {
            <tr>
                <td>@c</td>
                <td>@i.Name</td>
                <td>@i.Quantity</td>
            </tr>
            @c = @c + 1;
        }
    </table>
</div>